.config/emacs/*.eld
.config/emacs/recentf
.config/emacs/*.org~
.config/emacs/*.el~

.config/emacs/auto-save-list/
.config/emacs/elpa/
.config/emacs/eln-cache
.config/emacs/etc/
.config/emacs/transient/
.config/emacs/tutorial/
.config/emacs/var/
.config/emacs/straight
